

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.hero-unit {
  position: relative;
  padding: 30px;
  height: 300px;
}

.mainPageText {
  display: inline-block;
  width: 650px;
  font-size: 15px;
}

.profilePicture {
  position: relative;
  left: 100px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.footer {
  text-align: center;
  color: #8D8D8D;
}

.connect {
  text-align: right;
}

