<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Rohit Banga</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="projects.html">Work Experience</a></li>
                    <li><a href="files/resume.pdf" target="_blank">Résumé</a></li>
                    <li><a href="mailto:iamrohitbanga@gmail.com" target="_blank">Email me</a></li>
                    <!--li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li-->
                </ul>
		<div class="connect">
		  <a href="https://www.facebook.com/iamrohitbanga" target="_blank" align="left"><img src="http://www.niftybuttons.com/rkc-social-set-1/facebook.png" border="0"></a><a href="https://twitter.com/iamrohitbanga" target="_blank" align="left"><img src="http://www.niftybuttons.com/rkc-social-set-1/twitter.png" border="0"></a><a href="http://www.linkedin.com/in/iamrohitbanga" target="_blank" align="left"><img src="http://www.niftybuttons.com/rkc-social-set-1/linkedin.png" border="0"></a><a href="https://plus.google.com/104545894677341671982" target="_blank" align="left" ><img src="http://www.niftybuttons.com/rkc-social-set-1/gplus.png" border="0"></a>
		</div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

