<html>
{% include head.html %}

<body>
      {% include header.html %}

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
        <div class="container">
	  <a href="https://www.facebook.com/iamrohitbanga" target="_blank" align="left"><img src="http://www.niftybuttons.com/rkc-social-set-1/facebook.png" border="0"></a><a href="https://twitter.com/iamrohitbanga" target="_blank" align="left"><img src="http://www.niftybuttons.com/rkc-social-set-1/twitter.png" border="0"></a><a href="http://www.linkedin.com/in/iamrohitbanga" target="_blank" align="left"><img src="http://www.niftybuttons.com/rkc-social-set-1/linkedin.png" border="0"></a><a href="https://plus.google.com/104545894677341671982" target="_blank" align="left" ><img src="http://www.niftybuttons.com/rkc-social-set-1/gplus.png" border="0"></a>
        </div> <!-- /container -->

  {% include footer.html %}
  {% include analytics.html %}

</body>
