<html>
{% include head.html %}

<body>
      {% include header.html %}

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
        <div class="container">
	<div style="text-align: center;">
	  <embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" width="800" height="533" flashvars="host=picasaweb.google.com&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F104545894677341671982%2Falbumid%2F5688753080638612081%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCJObkKv82q3xSA%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
	</div>
	</div> <!-- /container -->

  {% include footer.html %}
  {% include analytics.html %}

</body>
